body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gilroybold,  sans-serif !important',

}


code {
  font-family: 'Gilroybold,  sans-serif !important';
}

@font-face {
  font-family: 'GilroyBold';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'GilroyThin';
  src: url('./assets/fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'GilroyMedium';
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Moderline';
  src: url('./assets/fonts/modernline-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Holimount';
  src: url('./assets/fonts/Holimount.otf') format('truetype');
  font-weight: bold;
  font-style: normal;  
  font-display: swap;
}
.cursor-hover-target {
  cursor: none;
}
